html {
  font-size: 1em; /* 16px */
  line-height: 1.2em; 
  padding: 1.2em; 
	font-family: 'Inter', serif;
  text-rendering: optimizeLegibility;
}

h1{
	font-size: 2.779em; 
	line-height: 1.2em;
}

h2{
	font-size: 1.667em; 
	line-height: 1.2em;
  padding-bottom: 1.2em; 
}

h3{
	font-size: 0.6em; 
	line-height: 1.2em;
	text-transform: uppercase;
	color: #E1CA96;
}

p{
	padding-bottom: 1.2em; 
}

#content{
	width: 100%;
	margin: 0 auto;
}

#header{
	padding: 2% 5%;
	margin-bottom: 2%;
	background-color: #2B4B6F;
	color: pink;
}

img{
	width: 50%;
	margin: 2% auto;
}

#column-l {
	width: 100%;
}

#column-r {
	width: 100%;
}

label {
  display: block; 
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="submit"] {
	width: 100%;
	height: 60px;
  border-radius: 10px;
	background-color: #001328;
	color: #C0C0C0;
	margin: 0 auto;
}

form li {
  padding-bottom: 1.182em; /* 26px / ~ 120% */  
	/* adding a padding to each li so that they aren't so close together */
}

ol{
	padding-top: 20px; 
}


@media only screen and (min-width: 480px){
  img{
	  width: 65%;
  }
	
	input[type="submit"] {
		width: 200px;
  }
}

@media only screen and (min-width: 992px){
	html{
	  font-size: 1.375em; 
	  line-height: 1.182em;
  }
	
	h1{
	  font-size: 3.821em; 
	  line-height: 1.182em;
  }

	h2{
		font-size: 2.292em; 
		line-height: 1.182em;
		padding-bottom: 1.182em;
	}

	h3{
		font-size: 0.825em; 
		line-height: 1.182em;
	}

	p{
		padding-bottom: 1.182em;
	}
	
  img{
	  width: 75%;
		margin: 0;
  }
	
	#column-l {
		clear: both;
		float: left;
		width: 43%;
		margin: 0 2% 5% 5%;
	}
	
	#column-r {
		float: left;
		width: 43%;
		margin: 0 5% 5% 2%;
	}
}